/* accent color #2196F3 */
/* basic color text #212121 */
/* secondary color text #757575 */
/* white #ffffff */
/* secondary background color #F5F4FA */
/* accent backround color #2F303A */
/* contacts footer rgba(255, 255, 255, 0,6) */
:root {
  --accent-color: #2196f3;
  --basic-color-text: #212121;
  --secondary-color-text: #757575;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}
body {
  color: var(--basic-color-text);
}
.list {
  list-style: none;
}

/* logo */
.logo {
  color: var(--basic-color-text);
}
.logo-accent {
  color: var(--accent-color);
}
/* site nav */
.site-nav .link {
  color: var(--basic-color-text);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* contacts */
.contacts a {
  color: var(--secondary-color-text);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  color: var(--primary-white-color);
}
/* section */
.section-text {
  color: var(--secondary-color-text);
}
/* button */
.button {
  color: var(--basic-color-text);
  background-color: var(--secondary-bg-color);
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
